[submodule "data/exploits/exploit-database"]
	path = data/exploits/exploit-database
	url = https://github.com/offensive-security/exploit-database.git
[submodule "data/curation"]
	path = data/curation
	url = git@github.com:fedoraredteam/elem-curation.git
